{{ $title       :=  (index .Site.Data .Site.Language.Lang).site.openGraph.title | default .Site.Title }}
{{ $type        :=  (index .Site.Data .Site.Language.Lang).site.openGraph.type | default "website" }}
{{ $description :=  (index .Site.Data .Site.Language.Lang).site.openGraph.description | default  (index .Site.Data .Site.Language.Lang).site.description }}
{{ $image       :=  (index .Site.Data .Site.Language.Lang).site.openGraph.image | default  (index .Site.Data .Site.Language.Lang).author.image }}
{{ $url         :=  (index .Site.Data .Site.Language.Lang).site.openGraph.url | default .Site.BaseURL }}

<!-- ============ open graph tags ========== -->
<meta property="og:title" content="{{ $title }}"/>
<meta property="og:type" content="{{ $type }}"/>
<meta property="og:description" content="{{ $description }}"/>
<meta property="og:image" content="{{ $image | absURL }}">
<meta property="og:url" content="{{ $url }}">
